<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>My SHOP </title>
        <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
        <link href="../css/new-age.min.css" rel="stylesheet">
        <link href="../css/slidebar.css" rel="stylesheet">
        <link rel="shortcut icon" href="../img/logo.png" />
    </head>

    <body id="page-top">

    
        <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top"><strong><font size="5">MyShop</font></strong></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="../../Main.jsp">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="../../Register.jsp">Register</a>
            </li><li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="../../Login.jsp">Login</a>
              
            </li>
            

           
          </ul>
        </div>
      </div>
    </nav>

    <header class="masthead">
      <div class="container h-100">
        <div class="row h-100">
          <div class="col-lg-7 my-auto">
            <div class="header-content mx-auto">
              <h1 class="mb-5">The best online bookstore in Thailand. You may find books you have never read.    Check it out!</h1>
              <a href="#download" class="btn btn-outline btn-xl js-scroll-trigger">Start Now </a>
            </div>
          </div>
          <div class="col-lg-5 my-auto">
            <div class="device-container">
              <div class="device-mockup iphone6_plus portrait white">
                <div class="device">
                  <!-- Slideshow container -->
                  <div class="w3-content w3-section" style="max-width:500px">
                        <img class="mySlides w3-animate-fading" src="../img/booklanding1.jpg" style="width:100%">
                        <img class="mySlides w3-animate-fading" src="../img/booklanding2.jpg" style="width:100%">
                        <img class="mySlides w3-animate-fading" src="../img/booklanding3    .jpg" style="width:100%">
                      </div>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <section class="download bg-primary text-center" id="download">
      <div class="container">
        <div class="row">
          <div class="col-md-8 mx-auto">
              <h2 class="section-heading" style="margin-top: 10px" >Discover a new books in our Website</h2>
            <p>Registor first if you don't have an Account </p> 
            <div class="badges">
                
                <a href="../../Register.jsp" class="button" style="vertical-align:middle"><span>Register </span></a>
                <a href="../../Login.jsp" class="button" style="vertical-align:middle;;background-color: #25D34D"><span>Login</span></a><hr>
                <a href="../../Main.jsp" class="button" style="vertical-align:middle;background-color: #25CBD3"><span>Website</span></a>
                
                
                
                
              
            </div>
            
            
            
          </div>
        </div>
      </div>
        
        
    </section>
        
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="../js/new-age.min.js"></script>
    <script src="../js/slidebar.js"></script>
    </body>

</html>
